<!DOCTYPE html>
<html>

<head>
    <meta charset="windows-1255">
    <title>SPORTS BETTING</title>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/sports.js"></script>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>

<body align="center">
    <div ng-app="couponSystem" ng-controller="couponController as c">
        <div ng-show="c.loginDiv">

            <h1 class="form-style-9">SPORTS BETTING</h1>

            <div>
                <form ng-submit="c.submitLoginForm()" class="form-style-9">
                    <h2>Login</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.loginFields.username" class="field-style field-split align-left" placeholder="Username" />
                            <input type="password" ng-model="c.loginFields.password" class="field-style field-split align-right" placeholder="Password" />
                        </li>
                        <li>
                            <input list="loginBrowsers" name="loginBrowsers" ng-model="c.loginFields.clientType" class="field-style field-full align-none" placeholder="Choose Client Type">
                            <datalist id="loginBrowsers">
                                <option value="AdminSport">
                                <option value="Bookie">
                                <option value="Player">
                            </datalist>
                        </li>
                        <li>
                            <input type="submit" value="Submit" />
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.loginExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>
        </div>

        <div class="content" ng-show="c.adminDiv">

            <div class="top">

                <input type="button" value="Home" ng-click="c.homeButton()" id="home">
                <input type="button" value="Logout" ng-click="c.adminLogoutButton()" id="logout">

            </div>

            <div class="side">

                <input type="button" value="Create Company" ng-click="c.createCompanyButton()" id="buttonInput">
                <br>
                <input type="button" value="Remove Company" ng-click="c.removeCompanyButton()" id="buttonInput">
                <br>
                <input type="button" value="Update Company" ng-click="c.updateCompanyButton()" id="buttonInput">
                <br>
                <input type="button" value="Get Company" ng-click="c.getCompanyButton()" id="buttonInput">
                <br>
                <input type="button" value="Get All Companies" ng-click="c.getAllCompaniesButton()" id="buttonInput">
                <br>
                <input type="button" value="Create Customer" ng-click="c.createCustomerButton()" id="buttonInput">
                <br>
                <input type="button" value="Remove Customer" ng-click="c.removeCustomerButton()" id="buttonInput">
                <br>
                <input type="button" value="Update Customer" ng-click="c.updateCustomerButton()" id="buttonInput">
                <br>
                <input type="button" value="Get Customer" ng-click="c.getCustomerButton()" id="buttonInput">
                <br>
                <input type="button" value="Get All Customers" ng-click="c.getAllCustomersButton()" id="buttonInput">
                <br>

            </div>

            <h1 class="form-style-9">Admin</h1>

            <div ng-show="c.createCompanyDiv">
                <form ng-submit="c.createCompanyForm()" class="form-style-9" id="showCompany">
                    <h2>Create Company</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.companyFields.compName" class="field-style field-split align-left" placeholder="Name" />
                            <input type="password" ng-model="c.companyFields.password" class="field-style field-split align-right" placeholder="Password" />
                        </li>
                        <li>
                            <input type="email" ng-model="c.companyFields.email" class="field-style field-full align-none" placeholder="Email" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left" />
                            <input type="button" value="Reset Fields" ng-click="c.createCompanyResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.companyTableDiv">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{c.companyFields.id}}</td>
                        <td>Company Name: {{c.companyFields.compName}}</td>
                        <td>Email: {{c.companyFields.email}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.companyExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>
            
            

            <div ng-show="c.removeCompanyDiv">
                <form ng-submit="c.removeCompanyForm()" class="form-style-9">
                    <h2>Remove Company</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.companyFields.id" class="field-style field-full align-none" placeholder="Company ID" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.removeCompanyResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.removeCompanySuccessDiv" id="error"><b>{{c.infoMessage}}</b></div>
                
                <div ng-show="c.removeCompanyExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.updateCompanyDiv">
                <form ng-submit="c.updateCompanyForm()" class="form-style-9">
                    <h2>Update Company</h2>
                    <ul>
                        <h3>Enter the ID of the required company</h3>
                        <li>
                            <input type="text" ng-model="c.companyFields.id" class="field-style field-full align-none" placeholder="Company ID" />
                        </li>
                        
                        <h3>Update the following values</h3>
                        
                        <li>
                            <input type="password" ng-model="c.companyFields.password" class="field-style field-full align-none" placeholder="Password" />
                        </li>
                        <li>
                            <input type="email" ng-model="c.companyFields.email" class="field-style field-full align-none" placeholder="Email" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.updateCompanyResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                <div ng-show="c.updateCompanyTableDiv">
                <table id="resultTable">
                    <tr>
                        <td>Company Name: {{c.companyFields.compName}}</td>
                        <td>Password: {{c.companyFields.password}}</td>
                        <td>Email: {{c.companyFields.email}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.updateCompanyExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getCompanyDiv">
                <form ng-submit="c.getCompanyForm()" class="form-style-9">
                    <h2>Get Company</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.companyFields.id" class="field-style field-full align-none" placeholder="Company ID" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.getCompanyResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                <div ng-show="c.getCompanyTableDiv">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{c.companyFields.id}}</td>
                        <td>Company Name: {{c.companyFields.compName}}</td>
                        <td>Email: {{c.companyFields.email}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.getCompanyExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getAllCompaniesDiv">
                <form ng-submit="c.getAllCompaniesForm()" class="form-style-9">
                    <h2>Get All Companies</h2>
                    <ul>
                        <li class="submit">
                            <input type="submit" value="Submit"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.getAllCompaniesTableDiv" ng-repeat="company in c.allCompanies">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{company.id}}</td>
                        <td>Company Name: {{company.compName}}</td>
                        <td>Email: {{company.email}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.getAllCompaniesExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.createCustomerDiv">
                <form ng-submit="c.createCustomerForm()" class="form-style-9">
                    <h2>Create Customer</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.customerFields.custName" class="field-style field-split align-left" placeholder="Name" />
                            <input type="password" ng-model="c.customerFields.password" class="field-style field-split align-right" placeholder="Password" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.createCustomerResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                <div ng-show="c.customerTableDiv">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{c.customerFields.id}}</td>
                        <td>Customer Name: {{c.customerFields.custName}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.customerExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.removeCustomerDiv">
                <form ng-submit="c.removeCustomerForm()" class="form-style-9">
                    <h2>Remove Customer</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.customerFields.id" class="field-style field-full align-none" placeholder="Customer ID" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.removeCustomerResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.removeCustomerSuccessDiv" id="error"><b>{{c.infoMessage}}</b></div>
                
                <div ng-show="c.removeCustomerExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.updateCustomerDiv">
                <form ng-submit="c.updateCustomerForm()" class="form-style-9">
                    <h2>Update Customer</h2>
                    <ul>
                        <h3>Enter the ID of the required customer</h3>
                        <li>
                            <input type="text" ng-model="c.customerFields.id" class="field-style field-full align-none" placeholder="Customer ID" />
                        </li>
                       
                        <h3>Update the following values</h3>
                       
                        <li>
                            <input type="password" ng-model="c.customerFields.password" class="field-style field-full align-none" placeholder="Password" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.updateCustomerResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.updateCustomerTableDiv">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{c.customerFields.id}}</td>
                        <td>Customer Name: {{c.customerFields.custName}}</td>
                        <td>Password: {{c.customerFields.password}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.updateCustomerExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getCustomerDiv">
                <form ng-submit="c.getCustomerForm()" class="form-style-9">
                    <h2>Get Customer</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.customerFields.id" class="field-style field-full align-none" placeholder="Customer ID" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.getCustomerResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                <div ng-show="c.getCustomerTableDiv">
                	<table id="resultTable">
                    	<tr>
                    		<td>ID: {{c.customerFields.id}}</td>
                        	<td>Customer Name: {{c.customerFields.custName}}</td>
                    	</tr>
                	</table>
                </div>
                
                <div ng-show="c.getCustomerExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getAllCustomersDiv">
   				<form ng-submit="c.getAllCustomersForm()" class="form-style-9">
        			<h2>Get All Customers</h2>
        			<ul>
            			<li class="submit">
                			<input type="submit" value="Submit" />
            			</li>
        			</ul>
    			</form>
    			<div ng-show="c.getAllCustomersTableDiv" ng-repeat="customer in c.allCustomers">
        			<table id="resultTable">
            			<tr>
                			<td>ID: {{customer.id}}</td>
                			<td>Customer Name: {{customer.custName}}</td>
            			</tr>
        			</table>
    			</div>

    			<div ng-show="c.getAllCustomersExceptionDiv" id="error">
        			<b>{{c.errorMessage}}</b>
    			</div>
			</div>
        </div>











        <div class="content" ng-show="c.companyDiv">

            <div class="top">

                <input type="button" value="Home" ng-click="c.homeButton()" id="home">
                <input type="button" value="Logout" ng-click="c.companyLogoutButton()" id="logout">

            </div>

            <div class="side">

                <input type="button" value="Create Coupon" ng-click="c.createCouponButton()" id="buttonInput">
                <br>
                <input type="button" value="Remove Coupon" ng-click="c.removeCouponButton()" id="buttonInput">
                <br>
                <input type="button" value="Update Coupon" ng-click="c.updateCouponButton()" id="buttonInput">
                <br>
                <input type="button" value="My Company" ng-click="c.getThisCompanyButton()" id="buttonInput">
                <br>
                <input type="button" value="Get Coupon" ng-click="c.getCouponButton()" id="buttonInput">
                <br>
                <input type="button" value="Get All Coupons" ng-click="c.getAllCompanyCouponsButton()" id="buttonInput">
                <br>
                <input type="button" value="Get Coupons by Type" ng-click="c.getCouponsByTypeButton()" id="buttonInput">
                <br>
                <input type="button" value="Get Coupons by Price" ng-click="c.getCouponsByPriceButton()" id="buttonInput">
                <br>
                <input type="button" value="Get Coupons by Date" ng-click="c.getCouponsByDateButton()" id="buttonInput">
                <br>

            </div>

            <h1 class="form-style-9">{{c.loginFields.username}}</h1>

            <div ng-show="c.createCouponDiv">
                <form  ng-submit="c.createCouponForm()" class="form-style-9">
                    <h2>Create Coupon</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.couponFields.title" class="field-style field-full align-none" placeholder="Title" />
                        </li>
                        <li>
                            <input type="date" ng-model="c.couponFields.startDate" class="field-style field-split align-left" placeholder="Start Date" />
                            <input type="date" ng-model="c.couponFields.endDate" class="field-style field-split align-right" placeholder="End Date" />
                        </li>
                        <li>
                            <input type="text" ng-model="c.couponFields.amount" class="field-style field-split align-left" placeholder="Amount" />
                            
                            <input list="couponBrowsers" name="couponBrowsers" ng-model="c.couponFields.type" class="field-style field-split align-right" placeholder="Type" />
                            <datalist id="couponBrowsers">
                                <option value="RESTAURANTS">
       							<option value="ELECTRICITY">
        						<option value="FOOD">
        						<option value="HEALTH">
        						<option value="SPORTS">
        						<option value="CAMPING">
        						<option value="TRAVELING">
                            </datalist> 
                        </li>
                        <li>
                            <input type="text" ng-model="c.couponFields.message" class="field-style field-split align-left" placeholder="Message" />
                            <input type="text" ng-model="c.couponFields.price" class="field-style field-split align-right" placeholder="Price" />
                        </li>
                        <li>
                            <input type="text" ng-model="c.couponFields.image" class="field-style field-full align-none" placeholder="Image URL" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.createCouponResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                <div ng-show="c.createCouponTableDiv">
                <table id="resultTable">
                    <tr>
                        <td>ID: {{c.couponFields.id}}</td>
                        <td>Title: {{c.couponFields.title}}</td>
                        <td>Start Date: {{c.couponFields.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>End Date: {{c.couponFields.endDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Amount: {{c.couponFields.amount}}</td>
                        <td>Type: {{c.couponFields.type}}</td>
                        <td>Message: {{c.couponFields.message}}</td>
                        <td>Price: {{c.couponFields.price}}</td>
                        <td>Image: {{c.couponFields.image}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.createCouponExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.removeCouponDiv">
                <form ng-submit="c.removeCouponForm()" class="form-style-9">
                    <h2>Remove Coupon</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.couponFields.id" class="field-style field-full align-none" placeholder="Coupon ID" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.removeCouponResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.removeCouponSuccessDiv" id="error"><b>{{c.infoMessage}}</b></div>
                
                <div ng-show="c.removeCouponExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.updateCouponDiv">
                <form ng-submit="c.updateCouponForm()" class="form-style-9">
                    <h2>Update Coupon</h2>
                    <ul>
                        <h3>Enter the ID of the required coupon</h3>
                        <li>
                            <input type="text" ng-model="c.couponFields.id" class="field-style field-full align-none" placeholder="Coupon ID" />
                        </li>
                        
                        <h3>Update the following values</h3>
                        
                        <li>
                            <input type="text" ng-model="c.couponFields.endDate" class="field-style field-split align-left" placeholder="End Date" />
                            <input type="text" ng-model="c.couponFields.price" class="field-style field-split align-right" placeholder="Price" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.updateCouponResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.updateCouponTableDiv">
                <table id="resultTable">
                    <tr>
                        <td>ID: {{c.couponFields.id}}</td>
                        <td>Title: {{c.couponFields.title}}</td>
                        <td>Start Date: {{c.couponFields.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>End Date: {{c.couponFields.endDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Amount: {{c.couponFields.amount}}</td>
                        <td>Type: {{c.couponFields.type}}</td>
                        <td>Message: {{c.couponFields.message}}</td>
                        <td>Price: {{c.couponFields.price}}</td>
                        <td>Image: {{c.couponFields.image}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.updateCouponExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getThisCompanyDiv">
                <form ng-submit="c.getMyCompanyForm()" class="form-style-9">
                    <h2>My Company</h2>
                    <ul>
                        <li class="submit">
                            <input type="submit" value="Submit" />
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.getMyCompanyTableDiv">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{c.companyFields.id}}</td>
                        <td>Company Name: {{c.companyFields.compName}}</td>
                        <td>Email: {{c.companyFields.email}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.getMyCompanyExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getCouponByIdDiv">
                <form  ng-submit="c.getCouponByIdForm()" class="form-style-9">
                    <h2>Get Coupon by ID</h2>
                    <ul>
                        <li>
                            <input type="text"  ng-model="c.couponFields.id" class="field-style field-full align-none" placeholder="Coupon ID" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.getCouponByIdResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.getCouponByIdTableDiv">
                <table id="resultTable">
                    <tr>
                        <td>ID: {{c.couponFields.id}}</td>
                        <td>Title: {{c.couponFields.title}}</td>
                        <td>Start Date: {{c.couponFields.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>End Date: {{c.couponFields.endDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Amount: {{c.couponFields.amount}}</td>
                        <td>Type: {{c.couponFields.type}}</td>
                        <td>Message: {{c.couponFields.message}}</td>
                        <td>Price: {{c.couponFields.price}}</td>
                        <td>Image: {{c.couponFields.image}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.getCouponByIdExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getAllCouponsDiv">
                <form ng-submit="c.getAllCouponsForm()" class="form-style-9">
                    <h2>Get All Coupons</h2>
                    <ul>
                        <li class="submit">
                            <input type="submit" value="Submit" />
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.getAllCouponsTableDiv" ng-repeat="coupon in c.allCoupons">
                <table id="resultTable">
                    <tr>
                        <td>ID: {{coupon.id}}</td>
                        <td>Title: {{coupon.title}}</td>
                        <td>Start Date: {{coupon.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>End Date: {{coupon.endDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Amount: {{coupon.amount}}</td>
                        <td>Type: {{coupon.type}}</td>
                        <td>Message: {{coupon.message}}</td>
                        <td>Price: {{coupon.price}}</td>
                        <td>Image: {{coupon.image}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.getAllCouponsExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getCouponByTypeDiv">
                <form ng-submit="c.getCouponByTypeForm()" class="form-style-9">
                    <h2>Get Coupons by Type</h2>
                    <ul>
                        <li>
                            <input list="typeBrowsers" name="typeBrowsers" ng-model="c.couponFields.type" class="field-style field-full align-none" placeholder="Type" />
                            <datalist id="typeBrowsers">
                                <option value="RESTAURANTS">
       							<option value="ELECTRICITY">
        						<option value="FOOD">
        						<option value="HEALTH">
        						<option value="SPORTS">
        						<option value="CAMPING">
        						<option value="TRAVELING">
                            </datalist>
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.getCouponByTypeResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.couponByTypeTableDiv" ng-repeat="coupon in c.couponByType">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{coupon.id}}</td>
                        <td>Title: {{coupon.title}}</td>
                        <td>Start Date: {{coupon.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>End Date: {{coupon.endDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Amount: {{coupon.amount}}</td>
                        <td>Type: {{coupon.type}}</td>
                        <td>Message: {{coupon.message}}</td>
                        <td>Price: {{coupon.price}}</td>
                        <td>Image: {{coupon.image}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.couponByTypeExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getCouponByPriceDiv">
                <form ng-submit="c.getCouponByPriceForm()" class="form-style-9">
                    <h2>Get Coupons by Price</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.couponFields.price" class="field-style field-full align-none" placeholder="Price" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.getCouponByPriceResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.couponByPriceTableDiv" ng-repeat="coupon in c.couponByPrice">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{coupon.id}}</td>
                        <td>Title: {{coupon.title}}</td>
                        <td>Start Date: {{coupon.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>End Date: {{coupon.endDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Amount: {{coupon.amount}}</td>
                        <td>Type: {{coupon.type}}</td>
                        <td>Message: {{coupon.message}}</td>
                        <td>Price: {{coupon.price}}</td>
                        <td>Image: {{coupon.image}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.couponByPriceExceptionDiv" id="error"> <b>{{c.errorMessage}}</b> </div>
            </div>

            <div ng-show="c.getCouponByDateDiv">
                <form ng-submit="c.getCouponByDateForm()" class="form-style-9">
                    <h2>Get Coupons by Date</h2>
                    <ul>
                        <li>
                            <input type="date" ng-model="c.couponFields.endDate" class="field-style field-full align-none" placeholder="End Date: yyyy-MM-dd" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.getCouponByDateResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.couponByDateTableDiv" ng-repeat="coupon in c.couponByDate">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{coupon.id}}</td>
                        <td>Title: {{coupon.title}}</td>
                        <td>Start Date: {{coupon.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>End Date: {{coupon.endDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Amount: {{coupon.amount}}</td>
                        <td>Type: {{coupon.type}}</td>
                        <td>Message: {{coupon.message}}</td>
                        <td>Price: {{coupon.price}}</td>
                        <td>Image: {{coupon.image}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.couponByDateExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>
        </div>










        <div class="content" ng-show="c.customerDiv">

            <div class="top">

                <input type="button" value="Home" ng-click="c.homeButton()" id="home">
                <input type="button" value="Logout" ng-click="c.customerLogoutButton()" id="logout">

            </div>

            <div class="side">

                <input type="button" value="Purchase Coupon" ng-click="c.purchaseCouponButton()" id="buttonInput">
                <br>
                <input type="button" value="My Coupons" ng-click="c.getAllPurchasedCouponsButton()" id="buttonInput">
                <br>
                <input type="button" value="Get All Coupons by Type" ng-click="c.getAllPurchasedCouponsByTypeButton()" id="buttonInput">
                <br>
                <input type="button" value="Get All Coupons by Price" ng-click="c.getAllPurchasedCouponsByPriceButton()" id="buttonInput">
                <br>

            </div>

            <h1 class="form-style-9">Customer</h1>

            <div ng-show="c.purchaseCouponDiv">
                <form ng-submit="c.showAllCouponsForm()" class="form-style-9">
                    <h2>Show All Coupons</h2>
                    <ul>
                        <li class="submit">
                            <input type="submit" value="Submit" />
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.getAllSystemCouponsTableDiv" ng-repeat="coupon in c.allSystemCoupons">
                
                <form ng-submit="c.submitPurchaseForm(coupon)" class="form-style-purchase">
	                <table id="purchaseTable">
	                    <tr>
	                        <td>ID: {{coupon.id}}</td>
	                        <td>Title: {{coupon.title}}</td>
	                        <td>Start Date: {{coupon.startDate | date: 'dd/MM/yyyy'}}</td>
	                        <td>End Date: {{coupon.endDate | date: 'dd/MM/yyyy'}}</td>
	                        <td>Amount: {{coupon.amount}}</td>
	                        <td>Type: {{coupon.type}}</td>
	                        <td>Message: {{coupon.message}}</td>
	                        <td>Price: {{coupon.price}}</td>
	                        <td>Image: {{coupon.image}}</td>
	                    </tr>
	                </table>
	                <ul>
                        <li class="submit">
                            <input type="submit" value="Buy Coupon" />
                        </li>
                   	</ul>
                </form>
            	</div>
            		
            		<div ng-show="c.purchaseCouponSuccessDiv" id="error"><b>{{c.infoMessage}}</b></div>
            	
            		<div ng-show="c.getAllSystemCouponExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
                
            </div>

            <div ng-show="c.getAllPurchasedCouponsDiv">
                <form ng-submit="c.getAllPurchasedCouponsForm()" class="form-style-9">
                    <h2>My Coupons</h2>
                    <ul>
                        <li class="submit">
                            <input type="submit" value="Submit" />
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.getAllPurchasedCouponsTableDiv" ng-repeat="coupon in c.allPurchasedCoupons">
                <table id="resultTable">
                    <tr>
                        <td>ID: {{coupon.id}}</td>
                        <td>Title: {{coupon.title}}</td>
                        <td>Start Date: {{coupon.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>End Date: {{coupon.endDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Amount: {{coupon.amount}}</td>
                        <td>Type: {{coupon.type}}</td>
                        <td>Message: {{coupon.message}}</td>
                        <td>Price: {{coupon.price}}</td>
                        <td>Image: {{coupon.image}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.getAllPurchasedCouponsExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getAllPurchasedCouponsByTypeDiv">
                <form ng-submit="c.getPurchasedCouponByTypeForm()" class="form-style-9">
                    <h2>Get Coupons by Type</h2>
                    <ul>
                        <li>
                            <input list="typeBrowsersCustomer" name="typeBrowsersCustomer" ng-model="c.couponFields.type" class="field-style field-full align-none" placeholder="Type" />
                            <datalist id="typeBrowsersCustomer">
                                <option value="RESTAURANTS">
       							<option value="ELECTRICITY">
        						<option value="FOOD">
        						<option value="HEALTH">
        						<option value="SPORTS">
        						<option value="CAMPING">
        						<option value="TRAVELING">
                            </datalist>
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.purchasedCouponByTypeResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.purchasedCouponByTypeTableDiv" ng-repeat="coupon in c.purchasedCouponByType">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{coupon.id}}</td>
                        <td>Title: {{coupon.title}}</td>
                        <td>Start Date: {{coupon.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>End Date: {{coupon.endDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Amount: {{coupon.amount}}</td>
                        <td>Type: {{coupon.type}}</td>
                        <td>Message: {{coupon.message}}</td>
                        <td>Price: {{coupon.price}}</td>
                        <td>Image: {{coupon.image}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.purchasedCouponByTypeExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getAllPurchasedCouponsByPriceDiv">
                <form ng-submit="c.purchasedCouponByPriceForm()" class="form-style-9">
                    <h2>Get Coupons by Price</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.couponFields.price" class="field-style field-full align-none" placeholder="Price" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.purchasedCouponByPriceResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.purchasedCouponByPriceTableDiv" ng-repeat="coupon in c.purchasedCouponByPrice">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{coupon.id}}</td>
                        <td>Title: {{coupon.title}}</td>
                        <td>Start Date: {{coupon.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td>End Date: {{coupon.endDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Amount: {{coupon.amount}}</td>
                        <td>Type: {{coupon.type}}</td>
                        <td>Message: {{coupon.message}}</td>
                        <td>Price: {{coupon.price}}</td>
                        <td>Image: {{coupon.image}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.purchasedCouponByPriceExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>
        </div>
    </div>


</body>

</html>