<!DOCTYPE html>
<html>

<head>
    <meta charset="windows-1255">
    <title>SPORTS BETTING</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="angular-resource.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="css.css">
</head>

<body align="center">
    <div ng-app="sportBetting" ng-controller="sportController as c">
    
        <div ng-show="c.loginDiv">

            <h1 class="form-style-9">SPORTS BETTING</h1>

            <div>
                <form ng-submit="c.submitLoginForm()" class="form-style-9">
                    <h2>Login</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.loginFields.userName" class="field-style field-split align-left" placeholder="Username" />
                            <input type="password" ng-model="c.loginFields.password" class="field-style field-split align-right" placeholder="Password" />
                        </li>
                        <li>
                            <input list="loginBrowsers" name="loginBrowsers" ng-model="c.loginFields.clientType" class="field-style field-full align-none" placeholder="Choose Client Type">
                            <datalist id="loginBrowsers">
                                <option value="AdminSport">
                                <option value="Bookie">
                                <option value="Player">
                            </datalist>
                        </li>
                        <li>
                            <input type="submit" value="Submit" />
                        </li>
                    </ul>
                </form>
                
                
                <div ng-show="c.loginExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>
        </div>

        <div class="content" ng-show="c.adminDiv">

            <div class="top">

                <input type="button" value="Home" ng-click="c.homeButton()" id="home">
                <input type="button" value="Logout" ng-click="c.adminLogoutButton()" id="logout">

            </div>

            <div class="side">

                <input type="button" value="Add Bookie" ng-click="c.addBookieButton()" id="buttonInput">
                <br>
                <input type="button" value="Remove Bookie" ng-click="c.removeBookieButton()" id="buttonInput">
                <br>
                <input type="button" value="Update Bookie" ng-click="c.updateBookieButton()" id="buttonInput">
                <br>
                <input type="button" value="Get Bookie" ng-click="c.getBookieButton()" id="buttonInput">
                <br>
                <input type="button" value="Get All Bookies" ng-click="c.getAllBookiesButton()" id="buttonInput">
                <br>
                <input type="button" value="Add Player" ng-click="c.addPlayerButton()" id="buttonInput">
                <br>
                <input type="button" value="Remove Player" ng-click="c.removePlayerButton()" id="buttonInput">
                <br>
                <input type="button" value="Update Player" ng-click="c.updatePlayerButton()" id="buttonInput">
                <br>
                <input type="button" value="Get Player" ng-click="c.getPlayerButton()" id="buttonInput">
                <br>
                <input type="button" value="Get All Players" ng-click="c.getAllPlayersButton()" id="buttonInput">
                <br>

            </div>

            <h1 class="form-style-9">Admin Sport</h1>

            <div ng-show="c.addBookieDiv">
                <form ng-submit="c.addBookieForm()" class="form-style-9" id="showBookie">
                    <h2>Add Bookie</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.bookieFields.bookieName" class="field-style field-split align-left" placeholder="Name" />
                            <input type="password" ng-model="c.bookieFields.bookiePassword" class="field-style field-split align-right" placeholder="Password" />
                        </li>
                        <li>
                            <input type="email" ng-model="c.bookieFields.bookieEmail" class="field-style field-full align-none" placeholder="Email" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left" />
                            <input type="button" value="Reset Fields" ng-click="c.addBookieResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.bookieTableDiv">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{c.bookieFields.bookieId}}</td>
                        <td>Bookie Name: {{c.bookieFields.bookieName}}</td>
                        <td>Bookie Password: {{c.bookieFields.bookiePassword}}</td>
                        <td>Email: {{c.bookieFields.bookieEmail}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.bookieExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>
            
            

            <div ng-show="c.removeBookieDiv">
                <form ng-submit="c.removeBookieForm()" class="form-style-9">
                    <h2>Remove Bookie</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.bookieFields.bookieId" class="field-style field-full align-none" placeholder="Bookie ID" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.removeBookieResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.removeBookieSuccessDiv" id="error"><b>{{c.infoMessage}}</b></div>
                
                <div ng-show="c.removeBookieExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.updateBookieDiv">
                <form ng-submit="c.updateBookieForm()" class="form-style-9">
                    <h2>Update Bookie</h2>
                    <ul>
                        <h3>Enter the ID of the required Bookie</h3>
                        <li>
                            <input type="text" ng-model="c.bookieFields.bookieId" class="field-style field-full align-none" placeholder="Bookie ID" />
                        </li>
                        
                        <h3>Update the following values</h3>
                        
                        <li>
                            <input type="password" ng-model="c.bookieFields.bookiePassword" class="field-style field-full align-none" placeholder="Password" />
                        </li>
                        <li>
                            <input type="email" ng-model="c.bookieFields.bookieEmail" class="field-style field-full align-none" placeholder="Email" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.updateBookieResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                <div ng-show="c.updateBookieTableDiv">
                <table id="resultTable">
                    <tr>
                        <td>Bookie Name: {{c.bookieFields.bookieName}}</td>
                        <td>Password: {{c.bookieFields.bookiePassword}}</td>
                        <td>Email: {{c.bookieFields.bookieEmail}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.updateBookieExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getBookieDiv">
                <form ng-submit="c.getBookieForm()" class="form-style-9">
                    <h2>Get Bookie</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.bookieFields.bookieId" class="field-style field-full align-none" placeholder="Bookie ID" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.getBookieResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                <div ng-show="c.getBookieTableDiv">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{c.bookieFields.bookieId}}</td>
                        <td>Bookie Name: {{c.bookieFields.bookieName}}</td>
                        <td>Bookie Password: {{c.bookieFields.bookiePassword}}</td>
                        <td>Bookie Email: {{c.bookieFields.bookieEmail}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.getBookieExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getAllBookiesDiv">
                <form ng-submit="c.getAllBookiesForm()" class="form-style-9">
                    <h2>Get All Bookies</h2>
                    <ul>
                        <li class="submit">
                            <input type="submit" value="Submit"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.getAllBookiesTableDiv" ng-repeat="bookie in c.getAllBookies">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{bookie.bookieId}}</td>
                        <td>Bookie Name: {{bookie.bookieName}}</td>
                        <td>Bookie Password: {{bookie.bookiePassword}}</td>
                        <td>Bookie Email: {{bookie.bookieEmail}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.getAllBookiesExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.addPlayerDiv">
                <form ng-submit="c.addPlayerForm()" class="form-style-9">
                    <h2>Add Player</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.playerFields.playerName" class="field-style field-split align-left" placeholder="Name" />
                            <input type="password" ng-model="c.playerFields.playerPassword" class="field-style field-split align-right" placeholder="Password" />
                            <input type="test" ng-model="c.playerFields.playerEmail" class="field-style field-split align-right" placeholder="Email" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.addPlayerResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                <div ng-show="c.playerTableDiv">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{c.playerFields.playerId}}</td>
                        <td>Player Name: {{c.playerFields.playerName}}</td>
                        <td>Player Password: {{c.playerFields.playerPassword}}</td>
                        <td>Player Email: {{c.playerFields.playerEmail}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.playerExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.removePlayerDiv">
                <form ng-submit="c.removePlayerForm()" class="form-style-9">
                    <h2>Remove Player</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.playerFields.playerId" class="field-style field-full align-none" placeholder="Player ID" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.removePlayerResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.removePlayerSuccessDiv" id="error"><b>{{c.infoMessage}}</b></div>
                
                <div ng-show="c.removePlayerExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.updatePlayerDiv">
                <form ng-submit="c.updatePlayerForm()" class="form-style-9">
                    <h2>Update Player</h2>
                    <ul>
                        <h3>Enter the ID of the required Player</h3>
                        <li>
                            <input type="text" ng-model="c.playerFields.playerId" class="field-style field-full align-none" placeholder="Player ID" />
                        </li>
                       
                        <h3>Update the following values</h3>
                       
                        <li>
                            <input type="password" ng-model="c.playerFields.playerPassword" class="field-style field-full align-none" placeholder="Password" />
                        </li>
                        <li>
                            <input type=email ng-model="c.playerFields.playerEmail" class="field-style field-full align-none" placeholder="Email" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.updatePlayerResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.updatePlayerTableDiv">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{c.playerFields.playerId}}</td>
                        <td>Player Name: {{c.playerFields.playerName}}</td>
                        <td>Player Password: {{c.playerFields.playerPassword}}</td>
                        <td>Player Email: {{c.playerFields.playerEmail}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.updatePlayerExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getPlayerDiv">
                <form ng-submit="c.getPlayerForm()" class="form-style-9">
                    <h2>Get Player</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.playerFields.playerId" class="field-style field-full align-none" placeholder="Player ID" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.getCustomerResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                <div ng-show="c.getPlayerTableDiv">
                	<table id="resultTable">
                    	<tr>
                    		<td>ID: {{c.playerFields.playerId}}</td>
                        	<td>Player Name: {{c.playerFields.playerName}}</td>
                        	<td>Player Password: {{c.playerFields.playerPassword}}</td>
                        	<td>Player Email: {{c.playerFields.playerEmail}}</td>
                    	</tr>
                	</table>
                </div>
                
                <div ng-show="c.getPlayerExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getAllPlayersDiv">
   				<form ng-submit="c.getAllPlayersForm()" class="form-style-9">
        			<h2>Get All Players</h2>
        			<ul>
            			<li class="submit">
                			<input type="submit" value="Submit" />
            			</li>
        			</ul>
    			</form>
    			<div ng-show="c.getAllPlayersTableDiv" ng-repeat="player in c.getAllPlayers">
        			<table id="resultTable">
            			<tr>
                			<td>ID: {{player.playerId}}</td>
                			<td>Player Name: {{player.playerName}}</td>
                			<td>Player Password: {{player.playerPassword}}</td>
                			<td>Player Email: {{player.playerEmail}}</td>
            			</tr>
        			</table>
    			</div>

    			<div ng-show="c.getAllPlayersExceptionDiv" id="error">
        			<b>{{c.errorMessage}}</b>
    			</div>
			</div>
        </div>











        <div class="content" ng-show="c.bookieDiv">

            <div class="top">

                <input type="button" value="Home" ng-click="c.homeButton()" id="home">
                <input type="button" value="Logout" ng-click="c.bookieLogoutButton()" id="logout">

            </div>

            <div class="side">

                <input type="button" value="Add Bet" ng-click="c.addBetButton()" id="buttonInput">
                <br>
                <input type="button" value="Remove Bet" ng-click="c.removeBetButton()" id="buttonInput">
                <br>
                <input type="button" value="Update Bet" ng-click="c.updateBetButton()" id="buttonInput">
                <br>
                <input type="button" value="My Bookie" ng-click="c.getThisBookieButton()" id="buttonInput">
                <br>
                <input type="button" value="Get Bet" ng-click="c.getBetButton()" id="buttonInput">
                <br>
                <input type="button" value="Get All Bets" ng-click="c.getBookieBetsButton()" id="buttonInput">
                <br>

            </div>

            <h1 class="form-style-9">{{c.loginFields.username}}</h1>

            <div ng-show="c.addBetDiv">
                <form  ng-submit="c.addBetForm()" class="form-style-9">
                    <h2>Add Bet</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.betFields.betTitle" class="field-style field-full align-none" placeholder="Title" />
                        </li>
                        <li>
                            <input type="date" ng-model="c.betFields.eventDate" class="field-style field-split align-left" placeholder="Event Date" />
                        </li>
                        <li>
                            <input type="text" ng-model="c.betFields.betWager" class="field-style field-split align-left" placeholder="Wager" />
                            
                            <input list="betBrowsers" name="betBrowsers" ng-model="c.betFields.sport" class="field-style field-split align-right" placeholder="Sport" />
                            <datalist id="betBrowsers">
                                <option value="FOOTBALL">
       							<option value="BASKETBALL">
        						<option value="SOCCER">
        						<option value="BASEBALL">
        						<option value="HOCKEY">
        						<option value="TENNIS">
        						
                            </datalist> 
                        </li>
                        <li>
                            <input type="text" ng-model="c.betFields.betImage" class="field-style field-split align-left" placeholder="Image" />
                            <input type="text" ng-model="c.betFields.betOdds" class="field-style field-split align-right" placeholder="Odds" />
                        </li>
                        <li>
                            <input type="text" ng-model="c.betFields.betReceipt" class="field-style field-full align-none" placeholder="Receipt" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.createCouponResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                <div ng-show="c.addBetTableDiv">
                <table id="resultTable">
                    <tr>
                        <td>ID: {{c.betFields.betId}}</td>
                        <td>Title: {{c.betFields.betTitle}}</td>
                        <td>Event Date: {{c.betFields.eventDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Wager: {{c.betFields.betWager}}</td>
                        <td>Sport: {{c.betFields.sport}}</td>
                        <td>Image: {{c.betFields.betImage}}</td>
                        <td>Odds: {{c.betFields.betOdds}}</td>
                        <td>Receipt: {{c.betFields.betReceipt}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.addBetExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.removeBetDiv">
                <form ng-submit="c.removeBetForm()" class="form-style-9">
                    <h2>Remove Bet</h2>
                    <ul>
                        <li>
                            <input type="text" ng-model="c.betFields.betId" class="field-style field-full align-none" placeholder="Bet ID" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.removeBetResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.removeBetSuccessDiv" id="error"><b>{{c.infoMessage}}</b></div>
                
                <div ng-show="c.removeBetExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.updateBetDiv">
                <form ng-submit="c.updateBetForm()" class="form-style-9">
                    <h2>Update Bet</h2>
                    <ul>
                        <h3>Enter the ID of the required Bet</h3>
                        <li>
                            <input type="text" ng-model="c.betFields.betId" class="field-style field-full align-none" placeholder="Bet ID" />
                        </li>
                        
                        <h3>Update the following values</h3>
                        
                        <li>
                            <input type="text" ng-model="c.betFields.betOdds" class="field-style field-split align-right" placeholder="Odds" />
                            <input type="text" ng-model="c.betFields.betWager" class="field-style field-split align-right" placeholder="Wager" />
                        </li>
                        <li class="submit">
                        <input type="text" ng-model="c.betFields.betImage" class="field-style field-split align-left" placeholder="Image" />
                        <input type="text" ng-model="c.betFields.betReceipt" class="field-style field-split align-left" placeholder="Receipt" />
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.updateBetResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.updateBetTableDiv">
                <table id="resultTable">
                    <tr>
                        <td>ID: {{c.betFields.betId}}</td>
                        <td>Title: {{c.betFields.betTitle}}</td>
                        <td>Event Date: {{c.betFields.eventDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Wager: {{c.betFields.betWager}}</td>
                        <td>Sport: {{c.betFields.sport}}</td>
                        <td>Image: {{c.betFields.betImage}}</td>
                        <td>Odds: {{c.betFields.betOdds}}</td>
                        <td>Receipt: {{c.betFields.betReceipt}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.updateBetExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getThisBookieDiv">
                <form ng-submit="c.getMyBookieForm()" class="form-style-9">
                    <h2>My Bookie</h2>
                    <ul>
                        <li class="submit">
                            <input type="submit" value="Submit" />
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.getMyBookieTableDiv">
                <table id="resultTable">
                    <tr>
                    	<td>ID: {{c.bookieFields.bookieId}}</td>
                        <td>Bookie Name: {{c.bookieFields.bookieName}}</td>
                        <td>Bookie Password: {{c.bookieFields.bookiePassrword}}</td>
                        <td>Bookie Email: {{c.bookieFields.bookieEmail}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.getMyBookieExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getBetDiv">
                <form  ng-submit="c.getBetForm()" class="form-style-9">
                    <h2>Get Bet</h2>
                    <ul>
                        <li>
                            <input type="text"  ng-model="c.betFields.betId" class="field-style field-full align-none" placeholder="Bet ID" />
                        </li>
                        <li class="submit">
                            <input type="submit" value="Submit" class="field-style field-split align-left"/>
                            <input type="button" value="Reset Fields" ng-click="c.getCouponByIdResetButton()" class="field-style field-split align-right"/>
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.getBetTableDiv">
                <table id="resultTable">
                    <tr>
                        <td>ID: {{c.betFields.betId}}</td>
                        <td>Title: {{c.betFields.betTitle}}</td>
                        <td>Event Date: {{c.betFields.eventDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Wager: {{c.betFields.betWager}}</td>
                        <td>Sport: {{c.betFields.sport}}</td>
                        <td>Image: {{c.betFields.betImage}}</td>
                        <td>Odds: {{c.betFields.betOdds}}</td>
                        <td>Receipt: {{c.betFields.betReceipt}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.getBetExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            <div ng-show="c.getAllBetsDiv">
                <form ng-submit="c.getAllBetsForm()" class="form-style-9">
                    <h2>Get All Bets</h2>
                    <ul>
                        <li class="submit">
                            <input type="submit" value="Submit" />
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.getAllBetsTableDiv" ng-repeat="bet in c.allBets">
                <table id="resultTable">
                    <tr>
                        <td>ID: {{c.betFields.betId}}</td>
                        <td>Title: {{c.betFields.betTitle}}</td>
                        <td>Event Date: {{c.betFields.eventDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Wager: {{c.betFields.betWager}}</td>
                        <td>Sport: {{c.betFields.sport}}</td>
                        <td>Image: {{c.betFields.betImage}}</td>
                        <td>Odds: {{c.betFields.betOdds}}</td>
                        <td>Receipt: {{c.betFields.betReceipt}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.getAllBetsExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

            	
            	<div ng-show="c.couponByDateExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>
        </div>










        <div class="content" ng-show="c.playerDiv">

            <div class="top">

                <input type="button" value="Home" ng-click="c.homeButton()" id="home">
                <input type="button" value="Logout" ng-click="c.playerLogoutButton()" id="logout">

            </div>

            <div class="side">

                <input type="button" value="Take Bet" ng-click="c.takeBetButton()" id="buttonInput">
                <br>
                <input type="button" value="My Bets" ng-click="c.getPlayerBetsButton()" id="buttonInput">

            </div>

            <h1 class="form-style-9">Player</h1>

            <div ng-show="c.showAllBetsBetDiv">
                <form ng-submit="c.showAllBetsForm()" class="form-style-9">
                    <h2>Show All Bets</h2>
                    <ul>
                        <li class="submit">
                            <input type="submit" value="Submit" />
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.getAllBetsTableDiv" ng-repeat="bet in c.allBets">
                
                <form ng-submit="c.submitPurchaseForm(bet)" class="form-style-purchase">
	                <table id="purchaseTable">
	                    <tr>
	                    <td>ID: {{c.betFields.betId}}</td>
                        <td>Title: {{c.betFields.betTitle}}</td>
                        <td>Event Date: {{c.betFields.eventDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Wager: {{c.betFields.betWager}}</td>
                        <td>Sport: {{c.betFields.sport}}</td>
                        <td>Image: {{c.betFields.betImage}}</td>
                        <td>Odds: {{c.betFields.betOdds}}</td>
                        <td>Receipt: {{c.betFields.betReceipt}}</td>
	                    </tr>
	                </table>
	                <ul>
                        <li class="submit">
                            <input type="submit" value="Take Bet" />
                        </li>
                   	</ul>
                </form>
            	</div>
            		
            		<div ng-show="c.takeBetSuccessDiv" id="error"><b>{{c.infoMessage}}</b></div>
            	
            		<div ng-show="c.getAllBetsExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
                
            </div>

            <div ng-show="c.getPlayerBetsDiv">
                <form ng-submit="c.getPlayerBetsForm()" class="form-style-9">
                    <h2>My Bets</h2>
                    <ul>
                        <li class="submit">
                            <input type="submit" value="Submit" />
                        </li>
                    </ul>
                </form>
                
                <div ng-show="c.getPlayerBetsTableDiv" ng-repeat="coupon in c.getPlayerBets">
                <table id="resultTable">
                    <tr>
                        <td>ID: {{c.betFields.betId}}</td>
                        <td>Title: {{c.betFields.betTitle}}</td>
                        <td>Event Date: {{c.betFields.eventDate | date: 'dd/MM/yyyy'}}</td>
                        <td>Wager: {{c.betFields.betWager}}</td>
                        <td>Sport: {{c.betFields.sport}}</td>
                        <td>Image: {{c.betFields.betImage}}</td>
                        <td>Odds: {{c.betFields.betOdds}}</td>
                        <td>Receipt: {{c.betFields.betReceipt}}</td>
                    </tr>
                </table>
            	</div>
            	
            	<div ng-show="c.getPlayerBetsExceptionDiv" id="error"><b>{{c.errorMessage}}</b></div>
            </div>

        </div>
    </div>


</body>

</html>